.row {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}

$colors: (
  "main": red,
  "primary": blue,
  "secondary": green,
  "tertiary": yellow,
  "neutral": gray
);

$bg-colors: (
  "main": red,
  "primary": blue,
  "secondary": green,
  "tertiary": yellow,
  "neutral": gray
);

$text: (
  "main": red,
  "primary": blue,
  "secondary": green,
  "tertiary": yellow,
  "neutral": gray
);

@each $colorName, $colorValue in $colors {
  .btn-#{$colorName} {
    color: $colorValue;
  }
}

@each $colorName, $colorValue in $bg-colors {
  .btn-bg-#{$colorName} {
    background-color: $colorValue;
  }
}

@each $colorName, $colorValue in $text {
  .text-#{$colorName} {
    color: $colorValue;
  }
}